In [36]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.tree import DecisionTreeClassifier
import graphviz
from random import * 
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score,GridSearchCV,cross_val_predict
from sklearn.preprocessing import OneHotEncoder

In [37]:
data = pd.read_csv("../classificador/Saidas/features_random_forest.csv")
#data = data.apply(lambda x: x.replace("madrugada", 0))
#data = data.apply(lambda x: x.replace("manha", 1))
#data = data.apply(lambda x: x.replace("tarde", 2))
#data = data.apply(lambda x: x.replace("noite", 3))

#data = data.apply(lambda x: x.replace(True, "S"))
#data = data.apply(lambda x: x.replace(False, "N"))
data["Fim de Semana"] = data["Fim de Semana"].astype(int)

#data['Horario'] = pd.to_datetime(data['Horario'], format="%H:%M:%S")
#data['Horario'] = (data['Horario'] - dt.datetime(1900,1,1)).dt.total_seconds()

data.drop(data.columns[0:2], axis=1,inplace=True)
data.drop(data.columns[4], axis=1,inplace=True)
data.drop(data.columns[9], axis=1,inplace=True)
#data.drop(data.columns[-1:], axis=1,inplace=True)
data.drop(data.index[1179:],inplace=True)

print(data.columns)

data

Index(['Hora', 'Minuto', 'Periodo', 'Fim de Semana', 'Comodo', 'lig_desl_luz',
       'lig_desl_aparelho', 'tempo_lig_luz', 'tempo_lig_aparelho',
       'Atividade'],
      dtype='object')

,Hora,Minuto,Periodo,Fim de Semana,Comodo,lig_desl_luz,lig_desl_aparelho,tempo_lig_luz,tempo_lig_aparelho,Atividade
0,13,28,tarde,1,Cozinha,0,0,1.000000,0.0,Cozinha
1,13,28,tarde,1,Sala,0,0,1.000000,0.0,Lazer sala
2,13,32,tarde,1,Cozinha,0,0,1.000000,0.0,Cozinha
3,13,32,tarde,1,Sala,0,0,1.000000,0.0,Lazer sala
4,13,44,tarde,1,Cozinha,0,0,1.000000,0.0,Cozinha
...,...,...,...,...,...,...,...,...,...,...
1174,22,42,noite,0,Sala,0,0,1.000000,0.0,Lazer sala
1175,22,45,noite,0,Cozinha,0,0,1.000000,0.0,Cozinha
1176,22,45,noite,0,Sala,1,0,0.545455,0.0,Lazer sala
1177,23,33,noite,0,Cozinha,0,0,1.000000,0.0,Cozinha
1178,23,55,noite,0,Sala,0,0,1.000000,0.0,Lazer sala

In [38]:
data_2 = data.select_dtypes(include=[object])
data_2

     Periodo   Comodo   Atividade
0      tarde  Cozinha     Cozinha
1      tarde     Sala  Lazer sala
2      tarde  Cozinha     Cozinha
3      tarde     Sala  Lazer sala
4      tarde  Cozinha     Cozinha
...      ...      ...         ...
1174   noite     Sala  Lazer sala
1175   noite  Cozinha     Cozinha
1176   noite     Sala  Lazer sala
1177   noite  Cozinha     Cozinha
1178   noite     Sala  Lazer sala

[1179 rows x 3 columns]

In [39]:
data_3 = data.select_dtypes(exclude=object)
data_3

,Hora,Minuto,Fim de Semana,lig_desl_luz,lig_desl_aparelho,tempo_lig_luz,tempo_lig_aparelho
0,13,28,1,0,0,1.000000,0.0
1,13,28,1,0,0,1.000000,0.0
2,13,32,1,0,0,1.000000,0.0
3,13,32,1,0,0,1.000000,0.0
4,13,44,1,0,0,1.000000,0.0
...,...,...,...,...,...,...,...
1174,22,42,0,0,0,1.000000,0.0
1175,22,45,0,0,0,1.000000,0.0
1176,22,45,0,1,0,0.545455,0.0
1177,23,33,0,0,0,1.000000,0.0
1178,23,55,0,0,0,1.000000,0.0

In [40]:
#CodificaÃ§Ã£o OneHot

data_per = pd.Categorical(data_2['Periodo'])
df_dum_per = pd.get_dummies(data_per, prefix='per')
df_dum_per

data_cmd = pd.Categorical(data_2['Comodo'])
df_dum_cmd = pd.get_dummies(data_cmd, prefix='cmd')
df_dum_cmd

data_atv = pd.Categorical(data_2['Atividade'])
df_dum_atv = pd.get_dummies(data_atv, prefix='atv')
df_dum_atv

df_dum = pd.concat([df_dum_per,df_dum_cmd,df_dum_atv], 'columns')
df_dum

,per_madrugada,per_manha,per_noite,per_tarde,cmd_Corredor,cmd_Cozinha,cmd_Lavanderia,cmd_Sala,atv_Acordar (dia util),atv_Acordar (fds),atv_Cozinha,atv_Dormir,atv_Lazer sala
0,0,0,0,1,0,1,0,0,0,0,1,0,0
1,0,0,0,1,0,0,0,1,0,0,0,0,1
2,0,0,0,1,0,1,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,1,0,0,0,0,1
4,0,0,0,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,0,0,1,0,0,0,0,1,0,0,0,0,1
1175,0,0,1,0,0,1,0,0,0,0,1,0,0
1176,0,0,1,0,0,0,0,1,0,0,0,0,1
1177,0,0,1,0,0,1,0,0,0,0,1,0,0
1178,0,0,1,0,0,0,0,1,0,0,0,0,1

In [41]:
df_completo = pd.concat([data_3, df_dum], 'columns')
df_completo

,Hora,Minuto,Fim de Semana,lig_desl_luz,lig_desl_aparelho,tempo_lig_luz,tempo_lig_aparelho,per_madrugada,per_manha,per_noite,per_tarde,cmd_Corredor,cmd_Cozinha,cmd_Lavanderia,cmd_Sala,atv_Acordar (dia util),atv_Acordar (fds),atv_Cozinha,atv_Dormir,atv_Lazer sala
0,13,28,1,0,0,1.000000,0.0,0,0,0,1,0,1,0,0,0,0,1,0,0
1,13,28,1,0,0,1.000000,0.0,0,0,0,1,0,0,0,1,0,0,0,0,1
2,13,32,1,0,0,1.000000,0.0,0,0,0,1,0,1,0,0,0,0,1,0,0
3,13,32,1,0,0,1.000000,0.0,0,0,0,1,0,0,0,1,0,0,0,0,1
4,13,44,1,0,0,1.000000,0.0,0,0,0,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,22,42,0,0,0,1.000000,0.0,0,0,1,0,0,0,0,1,0,0,0,0,1
1175,22,45,0,0,0,1.000000,0.0,0,0,1,0,0,1,0,0,0,0,1,0,0
1176,22,45,0,1,0,0.545455,0.0,0,0,1,0,0,0,0,1,0,0,0,0,1
1177,23,33,0,0,0,1.000000,0.0,0,0,1,0,0,1,0,0,0,0,1,0,0
1178,23,55,0,0,0,1.000000,0.0,0,0,1,0,0,0,0,1,0,0,0,0,1

In [42]:
j = 0
lista_indice = []
while True:
	num = randint(0,len(df_completo) - 1)
	add =True
	for element in lista_indice:
		if num == element:
			add = False
	if add:
		lista_indice.append(num)
	if len(lista_indice) == 50:
		break

print(lista_indice)

[286, 494, 142, 821, 1053, 850, 221, 640, 308, 84, 823, 881, 601, 751, 307, 349, 135, 515, 608, 890, 1084, 947, 648, 668, 909, 910, 678, 581, 10, 834, 900, 553, 897, 883, 1040, 945, 192, 124, 45, 942, 663, 288, 429, 385, 677, 62, 489, 716, 463, 74]

In [43]:
val = pd.DataFrame(columns = df_completo.columns)
j = 0
for element in lista_indice:
	val.loc[j] = df_completo.loc[element]
	df_completo.drop([element],inplace=True)
	j += 1
df_completo.reset_index(drop=True, inplace =True)

In [54]:
################# data train and test_x #################################################
features = list(df_completo.columns[0:-(df_dum_atv.shape[1])])
target = list(df_completo.columns[-(df_dum_atv.shape[1]):])

list(df_completo.columns)

['Hora',
 'Minuto',
 'Fim de Semana',
 'lig_desl_luz',
 'lig_desl_aparelho',
 'tempo_lig_luz',
 'tempo_lig_aparelho',
 'per_madrugada',
 'per_manha',
 'per_noite',
 'per_tarde',
 'cmd_Corredor',
 'cmd_Cozinha',
 'cmd_Lavanderia',
 'cmd_Sala',
 'atv_Acordar (dia util)',
 'atv_Acordar (fds)',
 'atv_Cozinha',
 'atv_Dormir',
 'atv_Lazer sala']

In [83]:
train_x = df_completo[features]	# train data
train_y = df_completo[target] 		# train data
test_x = val[features] 		# test data 
test_y = val[target]		# test data

#Inserindo casos de teste na mÃ£o
df_test2 = pd.DataFrame(columns = df_completo.columns)
#df_test2.loc[0] = [(dt.datetime(1900,1,1,6,15,0) - dt.datetime(1900,1,1)).total_seconds(),1.0,17,0,0,0.0,0.0,2]

#df_test2.loc[0] = [7,40,1.0,17,0,0,0.0,0.0,2]
#df_test2.loc[1] = [5,20,1,0.0,17,0,0,0.0,0.0,1]
#df_test2.loc[2] = [1,20,1,0.0,17,0,0,0.0,0.0,8]

#Acordando no final de semana
df_test2.loc[0] = [7,40,1,  #Hora, Minuto, Fim de semana
                   0,0,0,0, #lig_desl_luz, lig_desl_aparelho, tempo_lig_luz, tempo_lig_aparelho
                   0,1,0,0, #per_madrugada,...
                   0,0,1,0, #cmd_corredor, cmd_cozinha, cmd_lavanderia, cmd_sala
                   0,1,0,0,0] #Acorda (dia util), Acordar (fds), Cozinha, Dormir, Lazer Sala

#Acordando em dia Ãºtil
df_test2.loc[1] = [5,20,0,
                   0,0,0,0,
                   1,0,0,0,
                   0,0,1,0,
                   1,0,0,0,0]

#Indo dormir em dia Ãºtil
df_test2.loc[2] = [1,20,0,
                   0,0,0,0,
                   1,0,0,0,
                   1,0,0,0,
                   0,0,0,1,0]

test2x = df_test2[features]
test2y = df_test2[target]

argmax_train_y = np.argmax(train_y.values, axis=1)
argmax_test2y = np.argmax(test2y.values, axis=1)
pd.DataFrame(argmax_test2y)

   0
0  1
1  0
2  3

In [48]:
train_x, train_y

(      Hora  Minuto  Fim de Semana  lig_desl_luz  lig_desl_aparelho  \
 0       13      28              1             0                  0
 1       13      28              1             0                  0
 2       13      32              1             0                  0
 3       13      32              1             0                  0
 4       13      44              1             0                  0
 ...    ...     ...            ...           ...                ...
 1124    22      42              0             0                  0
 1125    22      45              0             0                  0
 1126    22      45              0             1                  0
 1127    23      33              0             0                  0
 1128    23      55              0             0                  0

       tempo_lig_luz  tempo_lig_aparelho  per_madrugada  per_manha  per_noite  \
 0          1.000000                 0.0              0          0          0
 1          1.000000                 0.0              0          0          0
 2          1.000000                 0.0              0          0          0
 3          1.000000                 0.0              0          0          0
 4          1.000000                 0.0              0          0          0
 ...             ...                 ...            ...        ...        ...
 1124       1.000000                 0.0              0          0          1
 1125       1.000000                 0.0              0          0          1
 1126       0.545455                 0.0              0          0          1
 1127       1.000000                 0.0              0          0          1
 1128       1.000000                 0.0              0          0          1

       per_tarde  cmd_Corredor  cmd_Cozinha  cmd_Lavanderia  cmd_Sala
 0             1             0            1               0         0
 1             1             0            0               0         1
 2             1             0            1               0         0
 3             1             0            0               0         1
 4             1             0            1               0         0
 ...         ...           ...          ...             ...       ...
 1124          0             0            0               0         1
 1125          0             0            1               0         0
 1126          0             0            0               0         1
 1127          0             0            1               0         0
 1128          0             0            0               0         1

 [1129 rows x 15 columns],
       atv_Acordar (dia util)  atv_Acordar (fds)  atv_Cozinha  atv_Dormir  \
 0                          0                  0            1           0
 1                          0                  0            0           0
 2                          0                  0            1           0
 3                          0                  0            0           0
 4                          0                  0            1           0
 ...                      ...                ...          ...         ...
 1124                       0                  0            0           0
 1125                       0                  0            1           0
 1126                       0                  0            0           0
 1127                       0                  0            1           0
 1128                       0                  0            0           0

       atv_Lazer sala
 0                  0
 1                  1
 2                  0
 3                  1
 4                  0
 ...              ...
 1124               1
 1125               0
 1126               1
 1127               0
 1128               1

 [1129 rows x 5 columns])

In [63]:
test2x, test2y

(   Hora  Minuto  Fim de Semana  lig_desl_luz  lig_desl_aparelho  \
 0   7.0    40.0            1.0           0.0                0.0

    tempo_lig_luz  tempo_lig_aparelho  per_madrugada  per_manha  per_noite  \
 0            0.0                 0.0            0.0        1.0        0.0

    per_tarde  cmd_Corredor  cmd_Cozinha  cmd_Lavanderia  cmd_Sala
 0        0.0           0.0          0.0             1.0       0.0  ,
    atv_Acordar (dia util)  atv_Acordar (fds)  atv_Cozinha  atv_Dormir  \
 0                     0.0                1.0          0.0         0.0

    atv_Lazer sala
 0             0.0  )

In [11]:
########################################### tree ########################################
clf_tree = DecisionTreeClassifier()
#clf_tree.fit(train_x,train_y)

grid_tree = GridSearchCV(clf_tree, {}, cv=10)
grid_tree.fit(train_x, train_y)
tree = DecisionTreeClassifier().fit(train_x,train_y)
tree_cross = grid_tree.best_estimator_

print(tree_cross.score(test2x,test2y), tree.score(test2x,test2y))

#result = tree.predict(test_x)

0.0 0.0

In [12]:
###################################### forest #########################################
clf_forest = RandomForestClassifier()
train_y = np.reshape(train_y.to_numpy(),-1)

param_grid = {
                 'n_estimators': [5, 10, 15, 20],
  				 'max_depth': [2, 5, 7, 9]
  			}

grid_forest = GridSearchCV(clf_forest, param_grid, cv=10)
grid_forest.fit(train_x, train_y)
forest = RandomForestClassifier().fit(train_x,train_y)
forest_cross = grid_forest.best_estimator_
print(forest_cross.score(test2x.values, test2y.values), forest.score(test2x.values, test2y.values))



#forest = RandomForestClassifier(n_estimators=100, max_depth=4,random_state=0)
#forest.fit(train_x, train_y)
#print(forest.predict_proba(test_x.values),forest.predict([[0.3,0.6,0.7,0.5]]))

0.0 0.0

c:\users\victor\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
c:\users\victor\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [84]:
clf_rf = RandomForestClassifier(n_estimators=50)
clf_rf.fit(train_x, argmax_train_y)
print(clf_rf.predict_proba(test2x.values))

#Aqui temos um problema de como pegar essa porcentagem calculada, e caracterizar como atividade anÃ´mala ou nÃ£o

[[0.   1.   0.   0.   0.  ]
 [1.   0.   0.   0.   0.  ]
 [0.06 0.   0.   0.94 0.  ]]